.wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.name::first-letter {
  text-transform: uppercase;
}
