.secondInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.icon {
  margin-right: 4px;
}
