.wrapInput {
  position: relative;
  display: inline-block;
}

.title {
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 8px;
}

.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.input {
  border-radius: 12px;
  border: none;
  padding-left: 48px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
  font-size: 16px;
  color: #101828;
}
