.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.line {
  margin-top: 24px;
  margin-bottom: 24px;
  stroke-width: 1px;
  stroke: #dadde1;
}

.item {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  margin-bottom: 16px;
}
span::first-letter {
  text-transform: uppercase;
}
